* {
    font-family: sans-serif;
}




header {
    background-color: rgb(2, 175, 161);

width: 100%;
border-bottom: solid 10px;
border-color: rgb(255, 210, 126);
color: white;

}

.link-header{
    display: inline;
    position: relative;
    left: 90%;
}