* {
    font-family: sans-serif;
}


body {
    position: relative;
    
}

header {
    background-color: rgb(255, 255, 0);
display: block;


}
section {
    position: absolute;
    right: 0;
}

.link1 {
    position: absolute;
    right: 200;
}
.link2 {
    position: absolute;
    right: 100px;
}
.link3 {
    position: absolute;
    right: 0px;
}